<!doctype html>
<html ng-app ng-controller="Bands">
<head>
    <title>SpringJam Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="/controllers/header.js"></script>
    <script src="/controllers/bands.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- <link href="/bootstrap.css" rel="stylesheet"> -->

</head>

<body>
<div ng-include="'/noauth/header.html'" ng-controller="Header"></div>


<div class="container">

    <div class="container">
        <div class="jumbotron">
            <p>Select which band you want to look at.
            </p>
            <p>
                <a href="concerts.html"><button type="button" class="btn btn-primary">Edit Which {{ selectedBand.name }} Shows You've Seen</button></a>
            </p>
        </div>

        <div class="well" ng-repeat="band in bands | filter:!loggedIn">
            <h3>
                <button type="button" class="btn {{ selectedBand.id==band.id? 'btn-success' :  'btn-primary' }}" ng-click="selectBand(band)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>

                My {{band.name}} Shows</h3>
            <p ng-repeat="concert in band.seenConcerts">
                {{concert.venue.name}}
            </p>
            <br/>

        </div>

        <div ng-if="!loggedIn" class="well" >
            Creating an account allows you to record which shows you've been to, and to see the list of songs you've
            seen or have not seen.
        </div>
    </div>
</div>
</body>
</html>